.recording-button {
  cursor: pointer;
}

#recording-message {
  color: white;
}

#sentiment-feedback {
    padding: 1em;
    background-color: lightgrey;
    border-radius: 0 0 1em 1em;
    border-width: 0.25em;
    display: flex;
}

#sentiment-feedback .feedback {
    margin-top: 1em;
    border-radius: 0.25px;
    border-width: 1em;
    padding: 0.5em;
}

#sentiment-feedback .good {
    color: green;
}

#sentiment-feedback .bad {
    color: black;
}
